<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<nav>
<ul>
    <h1>Camerons Portfolio</h1>
    <li>
        <%= link_to 'about', about_path, class: 'btn btn-outline-primary' %>
    </li>
    <li>
        <%= link_to 'work', work_path, class: 'btn btn-outline-primary' %>
    </li>
    <li>
        <%= link_to 'home', home_path, class: 'btn btn-outline-primary' %>
    </li>
</ul>
</nav>
<body>
    <h1>Contact Me:</h1>
    <h2>You can reach me anytime, just shoot me a message and I will get in touch!</h2>
    <h3>Email: Cameronacox0904@gmail.com</h3>
    <h3>Phone: 731-487-8827</h3>
    <h3>GitHub: Cameron0904</h3>
</body>

<footer>
    <h2>Camerons Portfolio 2024</h2>
</footer>